@charset "UTF-8";
/* 전체 css */
body{
	background-color : white;
	margin: 0 auto;
	
}
#first img{
	width: 100%;
	height: 100%;
	object-fit : contain;	
}
/* 메뉴 */
#head{
	width: 1000px;
	height: 90px;
	position: relative;
	background-color: #E0EeEe;
	border-bottom: 1px solid gray;
	border: 1px solid black;
	margin: 0 auto;
}

/* 메인 세션 */
#first{
	margin: 0 auto;
	background-color : #f5f5f5;
	width: 1000px;
	height : 650px;
	display: flex;
	justify-content: space-around;
	border: 1px solid black;
	
}
#first .first_items{
	background-color : #bfbfbf;
	width: 40%;
	height: 450px;
	border: 1px solid black;
	margin-top: 70px;
}

/* 메인-1 이미지 article */
#first #m_img{
	border: 1px solid black;
	margin: 20px auto 20px;
	width: 80%;
	height: 300px;
	background-color: white;
}
#first #sub_imgs{
	width : 80%;
	display: flex;
	margin: auto;
	border: 1px solid black;
	justify-content: space-between;

}
#first .sub_img{
	background-color: white;
	width: 30%;
	height: 70px;
	border: 1px solid black;
}
/* 메인-2 정보 article */
#info{
	margin-top: 30px;
}
#info p:nth-of-type(1){
	font-size: 25px;
	margin-bottom: 20px;
}
#info p:nth-of-type(2){
	font-size: 20px;
	margin-bottom: 20px;
}
#info p:nth-of-type(3){
	font-size: 20px;
	margin-bottom: 20px;
}
#p_btn{
	display: flex;
}
#p_btns{
	display: flex;
}
#num_btn{
	width: 30%;
	display: flex;
}
#num_btn button{
	display: flex;
}





