@charset "UTF-8";
#first{
	width: 1300px;
	height: 1000px;
	background-color: #EaEaEa;
	border: 1px solid black;
	margin: 0 auto;
	padding-top: 160px;
}

#f_list{
	width: 820px;
	height: 610px;
	margin: 0 auto;
}

#buymenu{
	display: flex;
	width: 750px;
	border: none;
	border-bottom: 1px solid black;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	padding-bottom: 10px;
}
#buymenu div{
	width: 155px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
#buymenu input{
	width: 20px;
	height: 20px;
}
#buymenu div > p{
	width: 110px;
	height: 20px;
}
#buymenu > p:nth-of-type(1){
	width: 400px;
	text-align: center;
}
#buymenu > p:nth-of-type(2){
	width: 180px;
	text-align: center;
}

.f_items{
	width: 750px;
	height: 170px;
	border: none;
	border-bottom: 1px solid black;
	margin: 20px auto 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.f_items > input{
	width: 20px;
	height: 20px;
}
.f_img{
	width: 135px;
	height: 135px;
}
#first img{
	width: 100%;
	height: 100%;
	object-fit : contain;	
}

.f_option{
	width: 400px;
	height: 135px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	border-right: 1px solid black;
	border-left: 1px solid black;
}
.f_option > p{
	display: block;
	width: 40%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-overflow : ellipsis;
	overflow: hidden;
}
.f_option div{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.f_option > div:nth-of-type(1){
	width: 27%;
	
}
.f_option > div:nth-of-type(1) p{
	font-size: 12px;
	text-align : center;
	
}
.f_option > div:nth-of-type(2){
	width: 27%
}
.f_option > div:nth-of-type(2) p{
	font-size: 12px;
	text-align : center;
}

.f_items > div:nth-of-type(3){
	width: 180px;
	height: 135px;
	display: flex;
	align-items: center;
	text-align: center;
}
.f_items > div:nth-of-type(3) p{
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

/* 계산 박스 css */
#f_sum{
	width: 620px;
	height: 120px;
	margin: 50px auto 0;
	display: flex;
	
}
#f_sum div:nth-of-type(1) {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	border-left: 1px solid black;
}
#f_sum div:nth-of-type(1) p:nth-of-type(1) {
	width: 100%;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

#f_sum input {
	width: 100%;
	font-size: 25px;
	font-weight: bold;
	margin: 0 auto;
	background-color: transparent;
	border: none;
	padding: 0 10px 0 10px;
}
